.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.btn_container {
  display: flex;
  align-items: center;
}

.notification__error {
  color: #ff5f00;
}
