.text_container {
  margin-top: 60px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  color: #cb81ff;
  font-size: var(--font-size-xl);
}
