.container_btn {
  display: flex;
  align-items: center;
}

.input {
  display: none;
}

.btn {
  cursor: pointer;
  width: 360px;
  padding: 17px 0;
  background: #fff;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}

.btn__uploaded {
  background: #cb81ff;
}

.btn__failed {
  color: #fff;
  background-color: #ff5f00;
}

.btn__processing {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.btn__finishedProcessing {
  background-color: #d4fae6;
}

.btn__disabled {
  color: #000;
  cursor: default;
}

.loader {
  width: 60px;
  height: 60px;
  border: 5px solid #fff;
  border-bottom-color: #2ae881;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
