.container {
  display: flex;
}

.container_analyse {
  margin-top: 60px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.container_history {
  flex-direction: column;
  gap: 20px;
}
