.btn {
  cursor: pointer;
  padding: 20px 25px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: var(--font-size-l);
  background-color: #2ae881;
  align-self: center;
}

.btn__processing {
  width: 360px;
  padding: 17px 0;
  background: #cb81ff;
  border: none;

  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.btn__finishedProcessing {
  background-color: #d4fae6;
  margin-right: 10px;
}

.btn__failed {
  color: #fff;
  background-color: #ff5f00;
  margin-right: 10px;
}

.loader {
  width: 60px;
  height: 60px;
  border: 5px solid #fff;
  border-bottom-color: #2ae881;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
