.btn {
  cursor: pointer;
  padding: 20px 25px;
  border: none;
  border-radius: 25px;
  font-weight: 500;
  font-size: var(--font-size-l);
  background-color: #2ae881;
  align-self: center;
}

.btn__disabled {
  background-color: #c0c0c0;
  color: #787878;
  cursor: default;
}

.btn__fadeout {
  display: none;
}
