.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.logo_wrapper {
  display: flex;
  align-items: center;
}

.logo_img {
  margin-right: 40px;
}
